<ion-view title="Canchas">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="canchas-card21">
            <ion-item class="item-icon-right" id="canchas-list-item1">Cancha 1
                <i class="icon ion-ios-football-outline"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="img/ziKSyf66T4KkcAA0QUe3_736.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="canchas-markdown1" style="color:#000000;text-align:center;" class="padding-top">
                <p>
                    <strong>Jugadores</strong>: 6 -
                    <strong>Tipo de piso</strong>: Goma -
                    <strong>Infraestructura</strong>: Techada. Con Luz</p>
            </div>
            <button id="canchas-button1" class="button button-positive  button-block">Ver Disponibilidad</button>
        </div>
        <div class="list card" id="canchas-card22">
            <ion-item class="item-icon-right" id="canchas-list-item3">Cancha 2
                <i class="icon ion-ios-football-outline"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="img/M5G6NGbQkyoppTbmWg2Q_FESFUT_1.JPG" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="canchas-markdown2" style="color:#000000;text-align:center;" class="padding-top">
                <p>
                    <strong>Jugadores</strong>: 11 -
                    <strong>Tipo de piso:</strong>Césped sintético -
                    <strong>Infraestructura</strong>: Con luz</p>
            </div>
            <button id="canchas-button4" class="button button-positive  button-block">Ver Disponibilidad</button>
        </div>
    </ion-content>
</ion-view>